* {
    padding: 0;
    margin: 0;
}

body {
    background-size: cover;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    margin-bottom: 40px;
}

header div#botao-menu-mobile{
    display: none;
}

header ul#menu-mobile{
    display: none;
} 

.pag-y {
    height: auto;
    width: 100%;
}

.pag-y-96 {
    height: auto;
    width: 100%;
}

.pag-y-86 {
    height: auto;
    width: 100%;
}

.pag-y-70 {
    height: auto;
    width: 100%;
}

#section1{
    /*background: rgba(204, 205, 211, 0.6);*/
    width: 100%;
}

#section1 > div {
    width: 100%;    
}

#section1 div h1{
    width: 100%;
}

#section2 {
    background: rebeccapurple;
}

#section3 {
    background: rgba(56, 70, 121, 0.91);
}

#section6 {
    background: #ffffff;
}

#section7 div:nth-child(2){
    margin: 0 !important;
}

.card-cover {
    background-size: cover;
}

.fs-14 {
    font-size: 14pt;
}

.typing-slider {
    font-family: Consolas, monospace;
    font-weight: bold;
    white-space: nowrap;
}

.typing-slider p {
    position: relative;
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 0;
}

.typing-slider p::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
}

.carousel-item svg.svg-dimensoes, svg rect.rect-dimensoes{
    height: 80vh;
    width: 100%;
} 

section#section9 p{
    padding: 0 15px;
}

footer div span{
    padding: 0 15px;
}

